
@media (min-width: 768px) and (max-width: 1919px) {

	.app {
		width: 100% !important;
		height: 100% !important;
		margin: 0;
		gap: 0;
		padding: 0;
		display: flex;
		flex-direction: row !important;
	}

	.wrapper {
		display: block;
		width: 50% !important;
		height: 100vh;
		background: url('../img/wapperlogin.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 !important;
		padding: 0;
	}

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		align-self: stretch;
	}


	.header h1 {
		font-size: 1.25rem;
		margin: 0.25rem 0 0 0;
		line-height: 1.5rem;
		font-weight: 700;
	}

	.header p {
		font-size: 1.25rem;
		margin: 0;
		line-height: 1.5rem;
	}

	.login-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50%;
		padding: 0 1rem 0 1rem;
		gap: 3rem;
	}

	.mb-3 {
		width: 100% !important;
		margin: 0 !important;
	}

	.mb-4 {
		margin: 0 !important;
		width: 100% !important;
	}

	.conditional-br {
		display: none !important;
	}


	.link {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: var(--Primary, #3498DB);
		text-align: center;
		/* Title/Medium Bold */
		font-family: Poppins;
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: 1.5rem;
		/* 150% */
	}

	.forms {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		align-self: stretch;
	}

	.forms-area {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.75rem;
		align-self: stretch;
	}

	label {
		margin: 0 !important;
	}

	p {
		margin: 0;
	}

	.input-field {
		width: 100% !important;
		display: flex;
		height: 5rem;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
		align-self: stretch;
	}

	.input-field label {
		color: var(--Gray-800, var(--Color-Typography-2-color-typography-2-pure, #414141));
		/* Title/Medium Regular */
		font-family: Poppins;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.5rem;
		/* 150% */
	}

	.input-field input {
		display: flex;
		padding: 0.5rem 1rem;
		align-items: center;
		gap: 0.25rem;
		flex: 1 0 0;
		align-self: stretch;
		border-radius: 0.5rem;
		border: 1px solid var(--Gray-300, #C9C9C9);
		background: var(--Color-Typography-1-color-typography-1-pure, #FFF);
	}

	.input-field input::placeholder {
		color: var(--Gray-700, #858585);

		/* Body/Large Regular */
		font-family: Poppins;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.5rem;
		/* 150% */
	}

	.password-field {
		width: 100% !important;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		gap: 0.25rem;
		align-self: stretch;
	}

	.password-field label {
		color: var(--Gray-800, var(--Color-Typography-2-color-typography-2-pure, #414141));
		/* Title/Medium Regular */
		font-family: Poppins;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.5rem;
		/* 150% */
	}

	.password-field input {
		display: flex;
		height: 3rem;
		padding: 0.5rem 1rem;
		align-items: center;
		gap: 0.25rem;
		align-self: stretch;
		width: 100%;
		border-radius: 0.5rem !important;
		border: 1px solid var(--Gray-300, #C9C9C9);
		background: var(--Color-Typography-1-color-typography-1-pure, #FFF);
	}

	.password-field::placeholder {
		color: var(--Gray-800, var(--Color-Typography-2-color-typography-2-pure, #414141));

		/* Body/Large Regular */
		font-family: Poppins;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.5rem;
		/* 150% */
	}

	.eye-btn {
		border: none;
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		top: 30%;
		margin-left: -40px;
		/* Ajuste conforme necessário */
		z-index: 2;
	}

	.eye-btn img {
		width: 1.25rem;
		/* Ajuste conforme necessário */
		height: 1.25rem;
		/* Ajuste conforme necessário */
	}

	.eye-btn:hover {
		background: transparent !important;
	}

	.divider {
		margin: 0 !important;
	}

	.divider hr {
		width: 15.40625rem;
		height: 0.0625rem;
		background: #858585;
	}

	.btn-login {
		display: flex;
		padding: 0.5rem 0.75rem 0.5rem 1rem;
		justify-content: center;
		align-items: center;
		gap: 0.25rem;
		align-self: stretch;
		border-radius: 1rem;
		background: var(--Primary, #3498DB);
		color: var(--Gray-0, var(--Color-Typography-1-color-typography-1-pure, #FFF));
		text-align: center;
		border: none;
		/* Title/Medium Bold */
		font-family: Poppins;
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: 1.5rem;
		/* 150% */
	}

	#options {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
	}

	.form-check {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		margin: 0 !important;
		padding: 0 !important;
	  }
	
	  .form-check-input {
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 0.5rem !important;
		border: 0.0625rem solid var(--Primary, #3498DB);
		margin: 0 !important;
		padding: 0 !important;
	  }
	
	  .form-check-label {
		color: var(--Gray-800, var(--Color-Typography-2-color-typography-2-pure, #414141));
	
		/* Body/Medium Regular */
		font-family: Poppins;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.25rem;
		/* 142.857% */
	  }
	

	.g-btn {
		display: flex;
		padding: 0.5rem 0.75rem 0.5rem 1rem;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		align-self: stretch;
		border-radius: 1rem;
		border: 0.7px solid var(--Primary, #3498DB);
		background-color: var(--Gray-0, #FFF) !important;
		color: var(--Primary, #3498DB);
		text-align: center;
		/* Title/Medium Bold */
		font-family: Poppins;
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: 1.5rem;
		/* 150% */
	}

	.g-btn:hover {
		background-color: #bb2d3b !important;
	}

	.text-center {
		display: flex;
		width: 50.15%;
		justify-content: space-between;
		align-items: center;
		margin: 0.5rem 0 0 0;
		gap: 0.25rem;
	}

	.link {
		display: flex;
		padding: 0.375rem 0rem;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: var(--Primary, #3498DB);
		text-align: center;
		/* Title/Medium Bold */
		font-family: Poppins;
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: 1.5rem;
		/* 150% */
	}
}

/* Essa abaixo é apenas para tablet. O padding precisa ser específico */

@media (min-width: 1199px) and (max-width: 1919px) {
	.login-form {
		padding: 0 3rem 0 5rem;
	}
}